[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git

[submodule "bundle/MatchTag"]
	url = https://github.com/gregsexton/MatchTag.git
[submodule "bundle/a"]
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/ack"]
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/bufexplorer"]
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/command-t"]
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/csapprox"]
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/delimitMate"]
	url = https://github.com/vim-scripts/delimitMate.vim.git
[submodule "bundle/endwise"]
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/fugitive"]
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/git-runtime"]
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/gundo"]
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/indexed-search"]
	url = https://github.com/vim-scripts/IndexedSearch.git
[submodule "bundle/markdown-runtime"]
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/matchit"]
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/nerdcommenter"]
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/ragtag"]
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/rails"]
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/repeat"]
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/solarized"]
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/surround"]
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/syntastic"]
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tabular"]
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/tagbar"]
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/ultisnips"]
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/unimpaired"]
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-coffee-script"]
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-ruby"]
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/yankring"]
	url = https://github.com/vim-scripts/YankRing.vim.git

[submodule "bundle/vim-sensible"]
	url = https://github.com/tpope/vim-sensible
[submodule "bundle/vim-bundler"]
	url = git://github.com/tpope/vim-bundler.git

